body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    font-family: 'Allan';
    text-align: -webkit-center;
    animation: opacity 5s;
}
@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');
.container {
    margin-top: 10%;
    max-width: 1440px;
}
.logo {
    position: relative;
}
.title {
position: relative;
bottom: 110px;
width: 400px;
height: 102px;
font-family: Allan;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 71.1%;
align-items: center;
text-align: center;
color: #FFFFFF;
text-shadow: 0px 10px 1px rgba(255, 0, 0, 0.25);
}
.katana {
    position: absolute;
    text-align: 60%;
    transform: rotate(-360deg);
    transition-duration: 2s;
}
.text {
margin-top: 10%;
margin-bottom: 10%;
max-width: 768px;
height: 318px;
font-family: Allan;
font-style: normal;
font-weight: normal;
font-size: 53px;
line-height: 110%;
align-items: center;
text-align: center;
color: #FFFFFF;
text-shadow: 0px 10px 1px rgba(255, 0, 0, 0.25);
}
.devis {
position: relative;
margin-bottom: 10%;
width: 768px;
height: 68px;
font-family: Allan;
font-style: normal;
font-weight: normal;
font-size: 53px;
line-height: 71.1%;
align-items: center;
text-align: center;
color: #FFFFFF;
text-shadow: 0px 10px 1px rgba(255, 0, 0, 0.25);
}
.chery1{
    margin-right: 1%;
    filter: drop-shadow(0px 10px 1px rgba(255, 0, 0, 0.25));
}
.chery2{
    margin-left: 1%;
    filter: drop-shadow(0px 10px 1px rgba(255, 0, 0, 0.25));
}
.chery1:hover {
    transform: rotate(360deg);
    transition-duration: .5s;
}
.chery2:hover {
    transform: rotate(360deg);
    transition-duration: .5s;
}
.footer {
    text-align: -webkit-auto;
    margin-top: 10%;
    margin-bottom: 20%;
    max-width: 560px;
}
 .steam{
     position: absolute;
     height: 80px;
     width: 80px;
     background-image: url(img/steam%201.png);
     background-size: cover;
     margin-left: 50px;
     filter: drop-shadow(0px 10px 1px rgba(255, 0, 0, 0.25));
}
.faceit {

    position: absolute;
    height: 80px;
     width: 80px;
    margin-left: 170px;
    background-image: url(img/faceit%201.png);
    background-size: cover;
    filter: drop-shadow(0px 10px 1px rgba(255, 0, 0, 0.25));
}
.vk {
    position: absolute;
    height: 80px;
     width: 80px;
    margin-left: 290px;
    background-image: url(img/vk%201.png);
    background-size: cover;
    filter: drop-shadow(0px 10px 1px rgba(255, 0, 0, 0.25));
}
.instagram {
    position: absolute;
    height: 80px;
     width: 80px;
    margin-left: 410px;
    background-image: url(img/instagram%201.png);
    background-size: cover;
    filter: drop-shadow(0px 10px 1px rgba(255, 0, 0, 0.25));
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.5;
    transition-duration: .5s;
    height: 90px;
    width: 90px;
}
.tree {
    max-width: 50%;
    position: fixed;
    left: -60px;
    top: 50px;
}
.sakura {
    max-width: 50%;
    position: fixed;
    right: 0px;
    top: 50px;
}

@keyframes opacity {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%
    }
}
a:active {
    transform: translateY(50px);
    transition-duration: .5s
}
@media only screen and (max-width: 200px) {
    .container {
        max-width: 200px;
    }
    .tree {
        width: 180px;
        height: 168px;
    }
    .sakura {
        width: 100px;
        height: 156px;
    }
    .logo {
        position: absolute;
        left: 200px;
        top: 50px;
        width: 100px;
        height: 200px;
    }
    .katana {
        position: absolute;
        left: 150px;
        top: 290px;
        width: 100px;
        width: 200px;
    }
    .title {
        position: absolute;
        left: 15%;
        font-size: 50px;
        top: 370px;
    }
    .text {
        position: absolute;
        top: 550px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        margin: 0px;
        left: 20%;
    }
    .devis {
        position: absolute;
        top: 750px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        left: 20%;
    }
    .chery1 {
        width: 30px;
        height: 30px;
    }
    .chery2 {
        width: 30px;
        height: 30px;
    }
             .footer {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 900px;
        margin-left: 0%;
    }
    a {
        width: 30px;
        height: 30px;
    }
    .steam {
        margin-left: 35px;
    }
    .faceit {
        margin-left: 135px;
    }
    .vk {
        margin-left: 235px;
    }
    .instagram {
        margin-left: 335px;
    }
}
@media only screen and (max-width: 270px) and (min-width: 200px) {

    .container {
        min-width: 200px;
    }
    .tree {
        width: 180px;
        height: 168px;
    }
    .sakura {
        width: 100px;
        height: 156px;
    }
    .logo {
        position: absolute;
        left: 83%;
        top: 50px;
        width: 100px;
        height: 200px;
    }
    .katana {
        position: absolute;
        left: 60%;
        top: 290px;
        width: 100px;
        width: 200px;
    }
    .title {
        position: absolute;
        left: 15%;
        font-size: 50px;
        top: 370px;
    }
    .text {
        position: absolute;
        top: 550px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        margin: 0px;
        left: 15%;
}
    .devis {
        position: absolute;
        top: 750px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        left: 15%;
    }
    .chery1 {
        width: 30px;
        height: 30px;
    }
    .chery2 {
        width: 30px;
        height: 30px;
    }
         .footer {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 900px;
        margin-left: 0%;
    }
    a {
        width: 30px;
        height: 30px;
    }
    .steam {
        margin-left: 35px;
    }
    .faceit {
        margin-left: 135px;
    }
    .vk {
        margin-left: 235px;
    }
    .instagram {
        margin-left: 335px;
    }
}
@media only screen and (max-width: 300px) and (min-width: 270px) {

    .container {
        min-width: 270px;
    }
    .tree {
        width: 180px;
        height: 168px;
    }
    .sakura {
        width: 100px;
        height: 156px;
    }
    .logo {
        position: absolute;
        left: 70%;
        top: 50px;
        width: 100px;
        height: 200px;
    }
    .katana {
        position: absolute;
        left: 55%;
        top: 280px;
        width: 100px;
        width: 200px;
    }
    .title {
        position: absolute;
        left: 20%;
        font-size: 50px;
        top: 350px;
    }
     .text {
        position: absolute;
        top: 550px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        margin: 0px;
        left: 20%;
}
    .devis {
        position: absolute;
        top: 750px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        left: 20%;
    }
    .chery1 {
        width: 30px;
        height: 30px;
    }
    .chery2 {
        width: 30px;
        height: 30px;
    }
     .footer {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 900px;
        margin-left: 0%;
    }
    a {
        width: 60px;
        height: 60px;
    }
    .steam {
        margin-left: 50px;
    }
    .faceit {
        margin-left: 150px;
    }
    .vk {
        margin-left: 250px;
    }
    .instagram {
        margin-left: 350px;
    }
}
@media only screen and (max-width: 360px) and (min-width: 300px) {
    .container {
        min-width: 300px;
    }
    .tree {
        width: 180px;
        height: 168px;
    }
    .sakura {
        width: 100px;
        height: 156px;
    }
    .logo {
        position: absolute;
        left: 56%;
        top: 40px;
        width: 100px;
        height: 200px;
    }
    .katana {
        position: absolute;
        left: 45%;
        top: 250px;
        width: 100px;
        width: 200px;
    }
    .title {
        position: absolute;
        left: 10%;
        top: 350px;
        font-size: 50px;
    }
     .text {
        position: absolute;
        top: 550px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        margin: 0px;
        left: 20px;
}
    .devis {
        position: absolute;
        top: 750px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        left: 20px;
    }
    .chery1 {
        width: 30px;
        height: 30px;
    }
    .chery2 {
        width: 30px;
        height: 30px;
    }
     .footer {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 900px;
        margin-left: 0%;
    }
    a {
        width: 60px;
        height: 60px;
    }
    .steam {
        margin-left: 40px;
    }
    .faceit {
        margin-left: 140px;
    }
    .vk {
        margin-left: 240px;
    }
    .instagram {
        margin-left: 340px;
    }

}
@media only screen and (max-width: 450px) and (min-width: 360px) {
    .container {
        min-width: 360px;
    }
    .tree {
        width: 180px;
        height: 168px;
    }
    .sakura {
        width: 100px;
        height: 156px;
    }
    .logo {
        position: absolute;
        left: 44%;
        top: 40px;
        width: 100px;
        height: 200px;
    }
    .katana {
        position: absolute;
        left: 40%;
        top: 250px;
        width: 100px;
        width: 200px;
    }
    .title {
        position: absolute;
        left: 10%;
        top: 350px;
        font-size: 50px;
    }
.text {
        position: absolute;
        top: 550px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        margin: 0px;
        left: 20px;
}
    .devis {
        position: absolute;
        top: 750px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        left: 20px;
    }
    .chery1 {
        width: 30px;
        height: 30px;
    }
    .chery2 {
        width: 30px;
        height: 30px;
    }
         .footer {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 900px;
        margin-left: 0%;
        padding-bottom: 100px;
    }
    a {
        width: 60px;
        height: 60px;
    }
    .steam {
        margin-left: 40px;
    }
    .faceit {
        margin-left: 140px;
    }
    .vk {
        margin-left: 240px;
    }
    .instagram {
        margin-left: 340px;
    }
}
@media only screen and (max-width: 560px) and (min-width: 450px) {
    .container {
        min-width: 450px;
    }
    .tree {
        width: 180px;
        height: 168px;
    }
    .sakura {
        width: 100px;
        height: 156px;
    }
    .logo {
        position: absolute;
        left: 44%;
        top: 50px;
        width: 100px;
        height: 200px;
    }
    .katana {
        position: absolute;
        left: 35%;
        top: 250px;
        width: 100px;
        width: 200px;
    }
    .title {
        position: absolute;
        left: 12%;
        font-size: 50px;
        top: 350px;
    }
    .text {
        position: absolute;
        top: 550px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        margin: 0px;
        left: 10%;
}
    .devis {
        position: absolute;
        top: 750px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        left: 12%;
    }
    .chery1 {
        width: 30px;
        height: 30px;
    }
    .chery2 {
        width: 30px;
        height: 30px;
    }
     .footer {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 900px;
        margin-left: 0%;
        padding-bottom: 100px;
    }
    a {
        width: 60px;
        height: 60px;
    }
    .steam {
        margin-left: 40px;
    }
    .faceit {
        margin-left: 140px;
    }
    .vk {
        margin-left: 240px;
    }
    .instagram {
        margin-left: 340px;
    }
}
@media only screen and (max-width: 700px) and (min-width: 560px) {
   .container {
        min-width: 450px;
    }
    .tree {
        width: 180px;
        height: 168px;
    }
    .sakura {
        width: 100px;
        height: 156px;
    }
    .logo {
        position: absolute;
        left: 44%;
        top: 50px;
        width: 100px;
        height: 200px;
    }
    .katana {
        position: absolute;
        left: 35%;
        top: 250px;
        width: 100px;
        width: 200px;
    }
    .title {
        position: absolute;
        left: 17%;
        font-size: 50px;
        top: 350px;
    }
    .text {
        position: absolute;
        top: 550px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        margin: 0px;
        left: 18%;
}
    .devis {
        position: absolute;
        top: 750px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        left: 18%;
    }
        .chery1 {
        width: 30px;
        height: 30px;
    }
    .chery2 {
        width: 30px;
        height: 30px;
    }
     .footer {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 900px;
        margin-left: 10%;
        padding-bottom: 100px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 700px) {
    .container {
        min-width: 700px;
        padding-bottom: 10%;
    }
    .tree {
        width: 180px;
        height: 168px;
    }
    .sakura {
        width: 100px;
        height: 156px;
    }
    .logo {
        position: absolute;
        left: 44%;
        top: 50px;
        width: 100px;
        height: 200px;
    }
    .katana {
        position: absolute;
        left: 38%;
        top: 250px;
        width: 100px;
        width: 200px;
    }
    .title {
        position: absolute;
        left: 23%;
        font-size: 50px;
        top: 350px;
    }
        .text {
        position: absolute;
        top: 550px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        margin: 0px;
        left: 23%;
}
        .devis {
        position: absolute;
        top: 750px;
        width: 400px;
        max-width: 400px;
        font-size: 26px;
        left: 23%;
    }
        .chery1 {
        width: 30px;
        height: 30px;
    }
    .chery2 {
        width: 30px;
        height: 30px;
    }
    .footer {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 900px;
        margin-left: 15%;
        padding-bottom: 100px;
    }
}
